.main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    border: 1px solid aliceblue;
    border-radius: 20%;
    height:500px;
   margin: -250px 0 0 -400px;
}


.head{
    background-color: coral;
    color: white;
  margin: 0px;
    padding: 0px;

}
.head h2{
    margin: 0px;
    padding: 0px;
    padding-left:15px;
}
.search{
    padding-top: 10px;
    background-color: #f0f0f0;
}
.search input{
    width: 200px;
  display: inline-block;
}
.search input:first-child{
    margin-left: 30px;
}
.search input:last-child{
margin-left: 320px;
}
.search input:focus::-webkit-input-placeholder{
    opacity: 0; transition: opacity 0.3s ease;
}
.context{
    width: 800px;
}
.context-left{
float: left;
    width: 50%;
    border-right: 1px solid black;
    height: 400px;
    overflow: auto;
}
.context-right{
    width: 49%;
    height: 400px;
    overflow: auto;
}

.friends{
    height: 300px;
    margin-top: 10px;
    overflow: auto;
}

.list-friend{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
 .add{
 margin-left: 10px;
     width:30px;
     height:30px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.dragable{
    cursor: pointer;
}
.dragable:hover{
    border: 1px solid black;
}
span{
height: 100%;
}